
<div class="cStats">
  <h3>{{dateSub}}</h3>
  <div>
    <label for="height">Height</label>
    <input 
    type="number"
    value="{{height}}"/>
  </div>
  <div>
    <label for="Weight">Weight</label>
    <input 
    type="number"
    value="{{weight}}"/>
  </div>
  <div>
    <label for="Push-Ups">Push-Ups</label>
    <input 
    type="number"
    value="{{pushups}}"/>
  </div>
  <div>
    <label for="Sit-Ups">Sit-Ups</label>
    <input 
    type="number"
    value="{{situps}}"/>
  </div>
  <div>
    <label for="Pull-Ups">Pull-Ups</label>
    <input 
    type="number"
    value="{{pullups}}"/>
  </div>
  <div>
    <label for="Run-Time">Run-Time</label>
    <input 
    type="number"
    value="{{runtime}}"/>
  </div>
  <button class="submitBtn">Submit</button>
</div>