<li>
  <p>Date: {{date}}</p>
  <p>Height: {{height}}</p>
  <p>Weight: {{weight}}</p>
  <p>Push-Ups: {{pushups}}</p>
  <p>Sit-Ups: {{situps}}</p>
  <p>Pull-Ups: {{pullups}}</p>
  <p>Run Time: {{runtime}}</p>
</li>