   
    
    <div id="previousStats">
    <h3 class="center">Last 5 Days</h3>
      {{#each exercise}}
      {{#if @first}}
      <input type="hidden" name='username' value="{{User.username}}"/>
      {{/if}}

      <li class="pStats">
        <p>Date: {{date}}</p>
        <p>Weight: {{weight}} lbs</p>
        <p>Push-Ups: {{pushups}}</p>
        <p>Sit-Ups: {{situps}}</p>
        <p>Pull-Ups: {{pullups}}</p>
        <p>Run Time: {{runtime}} min</p>
      </li>
      {{/each}}

    </div>
     </div>
      <button class="eBtn" id="emailButton" type="button" >✉ Email Results</button>
    </div>
  </div>
  <script src="/js/email.js"></script>

