<div id="statSubmission">
  <form id="exerciseForm">
    <label for="weight">Weight:</label><br>
    <input type="number" id="weightSubmit" name="weightSubmit"><br>
    <label for="pushups">Push Ups:</label><br>
    <input type="number" id="pushupsSubmit" name="pushupsSubmit"><br>
    <label for="situps">Sit Ups:</label><br>
    <input type="number" id="situpsSubmit" name="situpsSubmit"><br>
    <label for="pullups">Pull Ups:</label><br>
    <input type="number" id="pullupsSubmit" name="pullupsSubmit"><br>
    <label for="runtime">Runtime (minutes):</label><br>
    <input type="number" id="runtimeSubmit" name="runtimeSubmit"><br>
    <input id="submit" type="submit" value="Submit">
  </form>
</div>
<div id="previousStats">
  <h3>Last 5 Days</h3>
  {{#each daily}}
  <li>
    <p>Date: {{date}}</p>
    <p>Weight: {{weight}}</p>
    <p>Push-Ups: {{pushups}}</p>
    <p>Sit-Ups: {{situps}}</p>
    <p>Pull-Ups: {{pullups}}</p>
    <p>Run Time: {{runtime}}</p>
  </li>
  {{/each}}
</div>
</div>
<div id="graphicalView">

  <h3>Graphical View</h3>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/stats.js"></script>